<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="message" type=""*/-->
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <div>
        <form action="/user/newAccount" method="post" enctype="multipart/form-data">
            <div>Create account</div>
            <div>Enter username: </div>
            <input type="text" name="username"/>
            <div>Enter password: </div>
            <input type="text" name="password"/>
            <input type="submit" value="submit"/>
        </form>
    </div>

    <div>
        <form action="/session" method="post">
            <div>Log in</div>
            <div>Enter username: </div>
            <input type="text" name="username"/>
            <div>Enter password: </div>
            <input type="text" name="password"/>
            <input type="submit" value="submit"/>
        </form>
    </div>

    <div>
        <form action="/post" method="post" enctype="multipart/form-data">
            <div>Create new post</div>
            <div>Upload image</div>
            <input type="file" name="image" accept="image/png, image/jpeg"/>
            <input type="submit" value="submit"/>
        </form>
    </div>

</body>
</html>